@import 'nativescript-theme-core/css/core.dark.css';

.icon {
    font-family: 'IcoMoon-Free', 'icomoon';
    font-size: 25;
    padding: 20px;

}

.view {
    animation-name: opacity;
    animation-duration: 100;
}

.header-label{
    padding: 30px;
}